body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.menu-container {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  position: fixed;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
}

.logo {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  height: 50px;
}


.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mission {
  display: flex;
  margin-left: 20px;
}

.featured {
  display: flex;
  margin-left: 20px;
}

.locations {
  display: flex;
  margin-left: 20px;
}

.mission-container {
  display: flex;
}

.mission-logo {
  display: flex;
  height: 700px;
  width: 1200px;
  padding-top: 69px;
  justify-content: center;
  padding-left: 150px; /* remove if have to */
}

.tea-container {
  display: flex;
  justify-content: center;
}

.teas-grid {
  width: 1000px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.tea-grid-item {
  height: 200px;
  width: 300px;
  padding-bottom: 10px;
}
